@font-face {
    font-family: "syne-semibold";
    src: url("font/Syne-SemiBold.ttf");
}

@font-face {
    font-family: "spacegrotesk-regular";
    src: url("font/SpaceGrotesk-Regular.ttf");
}

* {
    font-family: "spacegrotesk-regular", sans-serif;
}

h1,
h2,
h3 {
    font-family: "syne-semibold", sans-serif;
}

.header {
    text-align: center;
    background: radial-gradient(50% 50% at 50% 50%, rgb(227 108 230 / 35%) 0%, rgba(255, 255, 255, 0) 100%), url(/shape.png), url(/rubisbleu.png), url(/rubisrose.png), url(/ressort.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: bottom left, top left, top right, bottom right;
}

.header h1 {
    font-size: 5rem;
    text-shadow: -5px 5px 0px #FFFFFF;
}

.logoheader {
    display: flex;
    justify-content: center;
}

.bouttonheader {
    background: #532C59;
    color: white;
    padding: 1% 2%;
    border-radius: 10px;
    cursor: pointer;
    border-color: #532C59;
}

.header p {
    padding-bottom: 4%;

}

.logoheader {
    padding-top: 10%;
    
}

.titre1body {
    text-align: center;
    font-size: 3rem;
    padding-top: 8%;
}

.titre1body p {
    padding-bottom: 8%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1rem;
}

.cards {
    text-align: center;
    justify-content: center;
}

.panel1 {}

.panel1,
.panel2,
.panel3 {
    display: flex;
    justify-content: center;
    padding-bottom: 8%;
    flex-wrap: wrap;
}

.cards p {
    padding-left: 8%;
    padding-right: 8%;
}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6 {
padding-right: 4%;
}

.bloclogo1 {
    width: 40%;

}
.bloclogo2 {
    width: 40%;

}




* {
    text-align: center;
}

.staff,
.staff1,
.staff2 {
    display: flex;
    justify-content: center;
}

.staff {
    flex-wrap: wrap;
    padding-top: 10%;
}

.guy {
    padding-right: 2%;
}

.darrel {
    padding-right: 2%;
}

body h2 {
    font-size: 3rem;
}

body p {
padding-left: 20%;
padding-right: 20%;
    color: #532C59;
}

.stats {
    display: flex;
    padding-top: 8%;
    padding-bottom: 8%;
}

.stat {
    flex-grow: 1;
    
}

.stats1er,
.stats2er,
.stats {}



.stat p {

}

.stats {}

.blocsign {
    background-image: url(cards/2backgroundgauche.png), url(cards/2backgrounddroite.png);
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
    border: 1px solid #D6BCFA;
    box-shadow: inset 0px 0px 50px #F8E0FA;
    border-radius: 60px;
    margin-bottom: 10%;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-size: 20%;
}

.blocsign p {
    padding-bottom: 2%;
    padding-left: 22%;
    padding-right: 22%;
}

.blocsign button {
    background: #532C59;
    border-radius: 15px;
    color: white;
    padding: 1% 2%;
    cursor: pointer;
}
.terms{
    display: flex;
}
.cookies {
    display: flex;
}
.footerbloc1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    align-items: center;
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom:  1px solid #CCD5DF;
}
li {
    color: grey;
}
.lichiant {
    min-width: 60%;

}
a {
    color: grey;
    text-decoration:none;
}
.footerbloc1 img {
    padding-right: 4%;
}
.copy {
    color: grey;

}