.slide-in {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out , opacity 0.6s ease-in-out;
}

.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}