.espace {
    background: grey;
    height: 500px;
}
.reveal {
    opacity: 0;
    transform: translateX(-230px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 2s cubic-bezier(.5,0,0,1);
}